Source: barcode-reader-glib
Section: admin
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: debhelper (>= 5), libdbus-1-dev, perl
Standards-Version: 3.9.1
Vcs-Browser: http://github.com/koppi/barcode-utils
Vcs-git: https://koppi@github.com/koppi/barcode-utils.git

Package: barcode-reader-glib
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, dbus
Description: barcode reader (glib version)
 Some barcode reader (glib version).

