#export DH_VERBOSE=1

VERSION=$(shell dpkg-parsechangelog |egrep ^Version: | cut -d ' ' -f 2)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) all $(TEST_TARGET)
	touch build-stamp

clean::
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/barcode-reader-glib
	install -m 755 barcode-reader-glib debian/barcode-reader-glib/usr/bin/barcode-reader-glib

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
#	dh_installcron
	dh_installman
	dh_installchangelogs 
	dh_makeshlibs
	dh_shlibdeps 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
