# generated stuff

debian/libbm-glib2.postinst.debhelper
debian/libbm-glib2.postrm.debhelper
debian/libbm-util1.postinst.debhelper
debian/libbm-util1.postrm.debhelper

debian/files

debian/libbm-util-dev
debian/libbm-util1

test/bm-online
test/bm-tool

po/*.gmo

debian/barcode-manager-dev
debian/libbm-glib-dev
debian/libbm-glib2

docs/libbm-glib/*
docs/libbm-util/*

docs/libbm-glib/libbm-glib-*.txt

docs/libbm-util/tmpl/
docs/libbm-util/xml/
docs/libbm-util/html/
docs/libbm-glib/xml/
docs/libbm-glib/tmpl/
docs/libbm-glib/html/

config.guess.cdbs-orig
config.sub.cdbs-orig

debian/stamp-*
docs/generate-settings-spec

debian/tmp/

debian/stamp-patched

*.substvars
*.debhelper.log

*.html

po/BarcodeManager.pot

*.stamp

cli/src/bmcli
po/.intltool-merge-cache

policy/org.freedesktop.BarcodeManager.policy
policy/org.freedesktop.barcode-manager-settings.system.policy

callouts/bm-dispatcher.action
callouts/org.freedesktop.bm_dispatcher.service

marshallers/bm-marshal.c
marshallers/bm-marshal.h

src/BarcodeManager
src/bm-crash-logger

*-bindings.h
*-glue.h

libbm-glib/libbm-glib-test

*.lo
*.la

libmarshallers.la
libmarshallers_la-bm-marshal-main.lo

.libs

/compile

config.h

BarcodeManager.pc

barcode-manager
barcode-manager.1
debian/barcode-manager
debian/barcode-manager.debhelper.log
debian/barcode-manager.substvars

debian/barcode-manager.preinst.debhelper
debian/barcode-manager.postinst.debhelper

debian/autoreconf.before
debian/debhelper.log
debian/stamp-copyright-check

gtk-doc.make

include/bm-version.h

initscript/Debian/BarcodeManager

libbm-glib/libbm-glib.pc
libbm-util/libbm-util.pc

po/POTFILES
po/stamp-it

stamp-h1

man/BarcodeManager.8
man/BarcodeManager.conf.5

man/bm-online.1
man/bm-system-settings.conf.5
man/bm-tool.1
man/bmcli.1

# generic files to ignore
*.lock
*.DS_Store
*.swp
*.out
*~
*.o

.deps

# ctags etags stuff
TAGS

# autoconf stuff
m4
mkinstalldirs
depcomp
config.h.in
autom4te.cache
Makefile
Makefile.in
GNUmakefile
GNUmakefile.in
aclocal.m4
configure
config.log
config.status
libtool
aclocal.m4
include/Makefile.in
include/aconfig.h.in
m4/Makefile
m4/Makefile.in
src/Makefile.in
build-stamp
config.guess
config.status
config.sub
configure
configure-stamp

# generated makefiles
include/Makefile
include/aconfig.h
include/stamp-h1

# more autoconf generated stuff
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing

# java specific
*.class

# python specific
*.pyc

# xcode iphone project stuff
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

# also ignore private workspace stuff added by Xcode4
xcuserdata
project.xcworkspace

