# generated stuff
indicator-barcode
indicator-barcode.1
debian/indicator-barcode
debian/indicator-barcode.debhelper.log
debian/indicator-barcode.substvars

debian/indicator-barcode.preinst.debhelper
debian/indicator-barcode.postinst.debhelper

debian/autoreconf.before
debian/debhelper.log
debian/stamp-copyright-check

# generic files to ignore
*.lock
*.DS_Store
*.swp
*.out
*~
*.o

# ctags etags stuff
TAGS

# autoconf stuff
m4
mkinstalldirs
depcomp
config.h.in
autom4te.cache
Makefile
Makefile.in
GNUmakefile
GNUmakefile.in
aclocal.m4
configure
config.log
config.status
libtool
aclocal.m4
include/Makefile.in
include/aconfig.h.in
m4/Makefile
m4/Makefile.in
src/Makefile.in
build-stamp
config.guess
config.status
config.sub
configure
configure-stamp

# generated makefiles
include/Makefile
include/aconfig.h
include/stamp-h1

# more autoconf generated stuff
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing

# java specific
*.class

# python specific
*.pyc

# xcode iphone project stuff
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

# also ignore private workspace stuff added by Xcode4
xcuserdata
project.xcworkspace

