Source: indicator-barcode
Section: misc
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: cdbs,
               debhelper (>= 5),
               intltool (>= 0.35.0),
               libindicator-dev (>= 0.3.14),
               libdbusmenu-glib-dev (>= 0.3.90),
               libdbusmenu-gtk-dev (>= 0.3.90),
               libglib2.0-dev (>= 2.25.0),
               libgtk2.0-dev (>= 2.22),
               libcairo2-dev (>= 1.10),
               libpolkit-gtk-1-dev,
               libgconf2-dev (>= 2.31),
               dh-autoreconf,
               gnome-common
Standards-Version: 3.9.1
Homepage: https://github.com/koppi/barcode-utils/
Vcs-Git: git://github.com/koppi/barcode-utils.git

Package: indicator-barcode
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: indicator-applet | indicator-renderer
Description: A very, very simple barcode reader applet
 A barcode reader utility showing in the indicator bar

